.topic-search-form--homepage {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(30);
}

.topic-search-form__input {
    padding: rem-calc(10);
}

//Autocomplete for homepage:

.topic-search-form {

    .autocomplete-suggestion:nth-child(n+2) {
        display: none;
    }

    @include breakpoint(medium) {
        .autocomplete-suggestion:nth-child(n+2) {
            display: block;
        }

        .autocomplete-suggestion:nth-child(n+4) {
            display: none;
        }
    }
}